
#response {
    margin-top: 20px;
}

.star-rating {
    direction: rtl;
    display: inline-block;
    font-size: 0;
    position: relative;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2rem;
    padding: 0;
    cursor: pointer;
    color: #ddd;
}

.star-rating label:before {
    content: '\2605';
    position: relative;
    display: inline-block;
}

.star-rating input:checked ~ label {
    color: #ffc700;
}

.star-rating input:hover ~ label {
    color: #deb217;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #c59b08;
}

.testimonial-item {
    margin: 20px;
}
